<div class="container my-5 text-center">
  <h1>Mongoid CSFLE Sample App</h1>

  <p class="lead">This is a sample app to demonstrate the use of <a href="https://docs.mongodb.com/ruby-driver/master/tutorials/ruby-driver-csfle/">Client-Side Field Level Encryption</a> with Mongoid. Make sure you followed instruction in the <em>README.md</em> file to set up the environment.</p> 
  <p class="lead">
  You can read more about MongoDB client-side field level encryption in the <a href="https://www.mongodb.com/docs/mongoid/master/tutorials/automatic-encryption/">Mongoid documentation</a>,
  <a href="https://www.mongodb.com/docs/ruby-driver/current/reference/in-use-encryption/client-side-encryption/">Ruby driver documentation</a> 
  and <a href="https://docs.mongodb.com/manual/core/security-client-side-encryption/">MongoDB manual</a>.
  </p>
</div>
