<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>New bank account</h1>

      <%= render "form", bank_account: @bank_account %>
    </div>
  </div>
</div>
