<div class="container my-3 text-center">
  <h1 class="text-center mb-3">Admin Dashboard</h1>

  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Manage Users', admin_users_path %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Manage Keys', admin_keys_path %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'All Data', admin_bank_accounts_path %>
    </li>
  </ul>
</div>
